*{
	box-sizing: border-box;
}
@font-face{
	font-family: geo;
	src: url(Fonts/Geomanist-Regular.otf);
}
@font-face{
	font-family: ran;
	src: url(Fonts/RanilleNormalRegular-EaZJj.ttf);
}
html{
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
body{
	margin:0px; 
	padding:0px;
	font-family: geo;
	background-image: url("IMAGES/homepage2.png");
	background-size: cover;

}
.home{
	width: 100%;
	height: 100vh;
	

}
.logo img{
	height: 40px;
	
	
}
/* Navigation */ 
nav {
	display:flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 30px;
	background-color: #FFFAF2;
	border-bottom: 10px solid ##F23545;
	box-shadow: 2px 2px 40px rgba(90,118,253,0.13);
	z-index: 1;
	width:100%;
}
nav ul{
	display: flex;
	margin:0px;
	padding: 0px;
	
}
nav ul li a{
	height: 40px;
	line-height: 43px;
	margin: 8px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 400;
	color: #365FB7;
	letter-spacing: 1px;
	
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #F22929;
}

nav.stroke ul li a {
	position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F22929;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* Home Text */

.home-content{
	display: flex;
	align-items: center;
	height: 50%;
	margin-left: 20%;
}



.explore{
	font-family: ran;
	font-size: 15px;
	text-align: center;
	margin-top: 8%;
	margin-right: 2%;
	color: #F25757;
}

.home-profile img{
	margin-left: 35%;
	margin-top: 20%;
	width: 50%;
	align-items: center;
	justify-content: center;
}
.scroll-down{
	position: absolute;
	bottom: 6rem;
	left: 58rem;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mouse{
	width: 2rem;
	height: 4rem;
	border: 2px solid #F25757;
	border-radius: 2rem;
	margin-bottom:.5rem;
}

.mouse span{
	width: 1rem;
	height: 1rem;
	background-color: #F25757;
	display: block;
	border-radius: 50%;
	margin: auto;
	margin-top: 1rem;
	animation: move-wheel .5s linear infinite;
}

.arrow span {
	display: block;
	width: 1rem;
	height: 1rem; 
	border: 2px solid transparent;
	border-right-color: #F25757;
	border-bottom-color: #F25757;
	transform: rotate(45deg);
}
@keyframes move-wheel{
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(1rem);
	}
	
	}

/* About */
.about-container{
	width:60%;
	height:330px;
	background:#F2EFDC;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 3%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
#abouttxt{
	color: rgba(0,0,0,0.0);
	
}
.about-text{
	width:500px;
	margin-left:60px;
} 
.about-text p:nth-child(1){
	color:#F22929;
	font-family: ran;
	font-size:50px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-family: geo;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color:#002B8C;
	font-family:geo;
	font-size:16px;
}
.about-container img{
	height:330px;
	margin-left:60px;

}

/* Hobbies */
.hobbies-container{
	width:60%;
	height:400px;
	background:#F2EFDC;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 5%  5% 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.hobbies-text {
	position: absolute;
	top: 8px;
	left: 100px;
	color:#F22929;
	font-family: ran;
	font-size:40px;
	line-height:0px;
	
}

.hobbiestxt {
	color: #5B61D9; 
	font-family: ran;
	font-size:25px;
	margin-top: 50px;
}


.hobbies img{
	float: left;
	padding: 10px;
	height: 170px;
}

/* Strength */
.strength-container{
	width:60%;
	height:400px;
	background:#F2EFDC;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 5%  5% 20px auto;
	position: relative;
	justify-content: center;
	align-items: center;
	
}
#abouttxt{
	color: rgba(0,0,0,0.0);
	
}
.strength-text{
	width:500px;
} 
.strength-text p:nth-child(1),
.strength-text p:nth-child(2){
	color:#F22929;
	font-family: ran;
	font-size:40px;
	line-height:1px;
}
.strength-text p:nth-child(3){
	color:#3e3d3d;
	font-size:20px;
	font-family: geo;
	font-weight:bold;
	line-height:5px;
}
.strength-text p:nth-child(4),
.strength-text p:nth-child(5){
	color:#002B8C;
	font-family:geo;
	font-size:16px;

}


/* Skills */
.skills-container{
	width:60%;
	height:400px;
	background:#DAD9D8;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 5%  auto 20px 5%;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
#abouttxt{
	color: rgba(0,0,0,0.0);
	
}
.skills-text{
	width:500px;
} 
.skills-text p:nth-child(1){
	color:#F22929;
	font-family: ran;
	font-size:50px;
	line-height:0px;
}
.skills-text p:nth-child(2){
	color:#3e3d3d;
	font-size:20px;
	font-family: geo;
	font-weight:bold;
	line-height:5px;
}
.skills-text p:nth-child(3){
	color:#002B8C;
	font-family:geo;
	font-size:16px;
}
.skills-container img{
	height:400px;
}

/* Family Background */
.fam-container{
	width:90%;
	height:700px;
	background:#0F708A;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 5%  auto 20px 5%;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.fam-text {
	position: absolute;
	top: 8px;
	left: 570px;
	color:#F2CB05;
	font-family: ran;
	font-size:50px;
	line-height:0px;
	
}
.fam_desc{
	color:#fff;
	font-family:geo;
	font-size:16px;
	position: absolute;
	top: 95px;
	left:250px;
	justify-content: center;
	text-align: center;
}

.img_fam{
	float: left;
	display: block;
	padding: 10px;
	height: 380px ;
	margin-top: 50px;
}

.img_overlay{
	position: absolute;
	top: 3;
	left: 3;
	display: flex;
	background:  rgba(207, 24, 40, 0.6);;
	color: #fff;
	padding: 10px;
	height: 380px;
	width: 380px;
	margin-top: 50px;
	font-family: ran;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity:0;
	transition: opacity 0.25s;
}
.img_overlay:hover{
	opacity: 1;
}

.img_title{
	font-size: 2em;
	font-weight: bold;
}
.img_description{
	font-size: 1.25em;
	margin-top: 0.25em;
}
/* Career */
.career-container{
	width:60%;
	height:400px;
	background:#fff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 5%  auto 20px 5%;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
#abouttxt{
	color: rgba(0,0,0,0.0);
	
}
.career-text{
	width:500px;
} 
.career-text p:nth-child(1){
	color:#F22929;
	font-family: ran;
	font-size:50px;
	line-height:0px;
}
.career-text p:nth-child(2){
	color:#3e3d3d;
	font-size:20px;
	font-family: geo;
	font-weight:bold;
	line-height:5px;
}
.career-text p:nth-child(3){
	color:#002B8C;
	font-family:geo;
	font-size:16px;
}
.career-container img{
	height:400px;
}







